[user]
	name = Vladislav Soprun
	email = develop@soprun.com
	signingkey = 8120213055C84C2C3324FB08B7502F96C5DC44C2
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = code --wait
	autocrlf = input
[credential]
	helper = osxkeychain
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = master
[http]
	sslVerify = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
